<div>
  <link href="./feature-card1.css" rel="stylesheet" />
  <a
    href="https://github.com/dev-stan"
    target="_blank"
    rel="noreferrer noopener"
  >
    <div class="feature-card1-feature-card">
      <h1><span>Experience</span></h1>
      <span class="feature-card1-text1">
        <span>
          Since the beginning of 2019 I've been working on Minecraft server
          called Medieval Vanilla, it is fully functional to this day. In total
          MV has seen over 100 000 unique players join the server with our
          record being over 120 players at one time. This was a huge success
          since we were one of the biggest Bukkit servers of a kind proving that
          with the right skillset and determination we could push our hardware
          to it's true limits. This first project, which turned out to be a huge
          success inspired me to learn how to Code first in Python, then Java,
          JavaScript and C#. I've been using those languages ever since as as a
          Developer for other servers, mainly working server-side on Plugins and
          optimization.
        </span>
      </span>
    </div>
  </a>
</div>
