<div>
  <link href="./feature-card11.css" rel="stylesheet" />
  <div class="feature-card11-feature-card">
    <h1><span>Work</span></h1>
    <span>
      <span>
        I mainly do commissioned work, meaning most of my projects aren't open
        source. You can check out my GitHub account by clicking her, on which I
        have my open source project code along with a README file on almost
        every repository. I work with the Electron framework for web app
        development in JavaScript. I'm also fluent in Discord which I've used to
        scan through large datasets and create efficient and clean written
        Discord bots using the discord.py API. All of the plugins I write for
        Minecraft are based on the Bukkit, Spigot and Paper API which let me
        create complex and game-changing systems.
      </span>
    </span>
  </div>
</div>
